﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.title</title>
    <!-- All Page data in JSON
    <script type="application/json">
    </script>
    -->

</head>
<body>
    <div>
        <h1>@Model.title</h1>
        @RenderBody()
    </div>
</body>
</html>
