﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.InterviewArticle>
@using ContentModels = Umbraco.Web.PublishedContentModels;

	<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<title>@Umbraco.Field("title")</title>
		<!-- All Page data in JSON
		<script type="application/json">
		</script>
		-->

	</head>
	<body>
		<div>
			<h1>@Umbraco.Field("title")</h1>
			@Html.Raw(Umbraco.Field("content"))
		</div>
	</body>
</html>
